* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    /* background: linear-gradient(-45deg, #ffebee, #ffcdd2, #ef9a9a); */
    background-color: #e0f2f1;
}


/* MATERIAL CSS */

.container {
    width: 95%;
    max-width: initial;
}

.card {
    background-color: ghostwhite;
}


/* .card .card-content {
    padding: 0;
} */

.card.small .card-image {
    max-height: 100%;
    cursor: pointer;
    border-radius: 4px;
}


/* .card-content {
    padding: 4px;
  } */

.card-action {
    padding: 8px 24px;
    font-size: 0.8em;
}

.video-container {
    margin-bottom: 20px;
}

blockquote {
    border-left: 5px solid #90cea1;
}


/* ESTILOS PROPIOS */

table {
    font-size: 0.9em;
}

th {
    font-weight: bold;
}

.thumbnail {
    max-width: 48px !important;
}

.primario {
    background-color: #0d253f;
}

.primario-texto {
    color: #0d253f;
}

.secundario {
    background-color: #01b4e4;
}

.secundario-texto {
    color: #01b4e4;
}

.terciario {
    background-color: #90cea1;
}

.terciario-texto {
    color: #90cea1;
}

.seccion {
    padding: 20px;
}

.titulo-ficha {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}

.titulo-seccion {
    font-size: 1.5em;
    /* font-weight: bold; */
    margin-bottom: 40px;
}

.poster {
    border-radius: 8px;
}

.titulo-ficha .divider,
.titulo-seccion .divider {
    height: 4px;
    background-color: #01b4e4;
}

.subtitulo-seccion {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.actor {
    font-weight: bold;
}

.personaje {
    font-style: italic;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* MOBILE */

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .row .col {
        padding: 0;
    }
}